default_install_hook_types:
- pre-commit
- commit-msg
- pre-push

repos:
- hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.7
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
- hooks:
  - id: commitizen
  - id: commitizen-branch
    stages:
    - pre-push
  repo: https://github.com/commitizen-tools/commitizen
  rev: v4.8.3

ci:
  autofix_commit_msg: 'ci(pre-commit.ci): auto fixes from pre-commit.com hooks\n\nfor more information, see https://pre-commit.ci'
  autoupdate_commit_msg: 'ci(pre-commit.ci): pre-commit autoupdate'

exclude: 'aurora/tools/.*'
